@import "../../styles/global.scss";
@import "../../styles/mixins.scss";

.images-container {
  width: 90%;
  height: 100%;
  @include flex(center, center);
  flex-direction: column;
  padding: 20px;
}

.grid-container {
  column-width: 200px;
  padding: 30px;
  white-space: nowrap;
  vertical-align: inherit;
  display: inline-block;
  @include xs {
    padding: 50px 20px 20px 20px;
    column-count: auto;
  }
}

.grid-item {
  margin-bottom: 10px;
  img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    vertical-align: middle;
  }
  img:hover {
    transform: scale(1.05);
  }
}

.show-more {
  background: linear-gradient(-160deg, #0007ab -75%, #a325cf 62.03%);
  color: white;
  padding: 10px 100px;
  border-radius: 10px;
  font-size: 25px;
  @include xs {
    font-size: 15px;
  }
}
