@import "../../../../styles/global.scss";
@import "../../../../styles/mixins.scss";

.animated {
  margin-top: 50px;
  color: white;
  @include flex(center, center);
  flex-direction: column;
}

.switch-holder {
  width: 40px;
  height: 15px;
  background-color: grey;
  border-radius: 7px;
  @include flex(flex-start, center);
  transition: justify-content 1s;
}

.inner-circle {
  width: 25px;
  height: 25px;
  background-color: #ff8fb8;
  border-radius: 20px;
  transition: background-color 0.5s;
}

.on {
  justify-content: flex-end;
  .inner-circle {
    background-color: blue;
  }
}
