@import "../../styles/global.scss";
@import "../../styles/mixins.scss";

.main {
  height: auto;
  @include flex(flex-start, stretch);
}

.main-part {
  width: 100%;
  height: 100%;
  @include flex(center, center);
  gap: 50px;
  flex-direction: column;
  margin-top: 50px;
}

.grid-container {
  column-width: 250px;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 50px;
}

.grid-item {
  margin-bottom: 10px;
  background: linear-gradient(-160deg, #0007ab -75%, #a325cf 62.03%);
  padding: 10px;
  border-radius: 5px;
  box-shadow: grey 10px 10px 10px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.show-more {
  margin-bottom: 10px;
  background: linear-gradient(-160deg, #0007ab -75%, #a325cf 62.03%);
  box-shadow: grey 10px 10px 10px;
  color: white;
  padding: 10px 100px;
  border-radius: 10px;
  outline: none;
  border: none;
}
