@import "../../styles/mixins.scss";
@import "../../styles/global.scss";

.navbar {
  width: 100%;
  @include flex(center, center);
  background: linear-gradient(95.04deg, #0007ab -55.75%, #a325cf 62.03%);
  position: sticky;
  top: 0;
  z-index: 5;
}

.nav-wrapper {
  padding: 10px 50px;
  width: 100%;
  @include flex(space-between, center);
  padding: 20px 0;
  color: white;
  @include xs {
    padding: 10px 0;
  }
}

.logo-part {
  @include flex(center, center);
  gap: 10px;
  margin-left: 50px;
  cursor: pointer;
}

.logo {
  font-size: 45px;
  line-height: 80%;
  font-family: "Dancing Script", cursive;
  @include xs {
    font-size: 30px;
  }
}

.logo-pic {
  img {
    max-width: 50px;
    max-height: 50px;
    @include xs {
      max-width: 30px;
      max-height: 30px;
    }
  }
}

.nav-links {
  @include flex(center, center);
  gap: 25px;
  margin-right: 50px;
}

.nav-link {
  @include flex(center, center);
  gap: 5px;
  cursor: pointer;
}

.nav-animated {
  @include flex(center, center);
  color: white;
  gap: 5px;
  @include xs {
    display: none;
  }
}

.burger {
  display: none;
  @include xs {
    position: relative;
    @include flex(center, center);
    flex-direction: column;
    width: 30px;
    height: 24px;
  }
}

.burger-line {
  transition: all 1s;
  width: 30px;
  height: 3px;
  background-color: #ff8ff8;
}

.burger-line::before,
.burger-line::after {
  content: "";
  position: absolute;
  transition: all 1s;
  width: 30px;
  height: 3px;
  background-color: #ff8ff8;
}

.burger-line::before {
  transform: translateY(8px);
}

.burger-line::after {
  transform: translateY(-8px);
}

.burger.open {
  .burger-line {
    transform: translateX(-30px);
    background: transparent;
  }
  .burger-line::before {
    transform: rotate(45deg) translate(25px, -25px);
  }

  .burger-line::after {
    transform: rotate(-45deg) translate(25px, 25px);
  }
}
