@import "../../styles/global.scss";
@import "../../styles/mixins.scss";

.side {
  @include flex(flex-start, center);
  flex-direction: column;
  background: linear-gradient(-160deg, #0007ab -75%, #a325cf 62.03%);
  min-width: 200px;
  transition: left 1s;
  height: auto;
  min-height: 100vh;
  @include xs {
    position: absolute;
    width: 100%;
    top: 50px;
    left: -100%;
  }
}

.side-active {
  @include xs {
    left: 0;
  }
}

.side-links {
  @include flex(center, center);
  flex-direction: column;
  gap: 15px;
  color: white;
  width: 100%;
  font-size: 25px;
  position: sticky;
  top: 94px;
  padding-top: 50px;
  @include m {
    font-size: 20px;
    gap: 20px;
  }
}

.side-link {
  text-transform: capitalize;
  cursor: pointer;
  transition: margin 0.5s;
}

.side-link:hover {
  color: #ff8fb8;
}

.active {
  font-size: 30px;
  color: #ff8fb8;
  margin-left: 15px;
}

.side-animated {
  display: none;
  @include xs {
    margin-top: 100px;
    @include flex(center, center);
    flex-direction: column;
    color: white;
  }
}
