@import "../../styles/global.scss";
@import "../../styles/mixins.scss";

.side {
  @include flex(flex-start, center);
  margin-top: 30px;
  flex-direction: column;
  background-color: #571751;
  padding: 20px;
  width: 10%;
  height: 100%;
  box-shadow: grey 10px 10px 10px;
}

.side-links {
  @include flex(center, center);
  flex-direction: column;
  gap: 15px;
  color: white;
}
