@import "../../styles/global.scss";
@import "../../styles/mixins.scss";

.side {
  @include flex(flex-start, center);
  flex-direction: column;
  background: linear-gradient(-160deg, #0007ab -75%, #a325cf 62.03%);
  padding: 50px;
  box-shadow: grey 10px 10px 10px;
  position: fixed;
  top: 90px;
  height: 100%;
}

.side-links {
  @include flex(center, center);
  flex-direction: column;
  gap: 15px;
  color: white;
  width: 100%;
}

@keyframes changeColor {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}

.active {
  font-size: 30px;
  animation: changeColor 1s infinite both;
}
